{% extends 'cal/base.html' %}

{% block title %}
Event
{% endblock %}

{% block content %}

<div class="ml-3">
  <p>Host name: {{host}}</p>
  <p>Start time: {{start_time}}</p>
  <p>End time: {{end_time}}</p>
  {% if is_available %}
  <p>Available: Yes</p>
  <form method="post">
    <a class="btn btn-info left" href="{% url 'cal:booksuccess' event_id %}"> BOOK ME! </a>
  </form>
  {% else %}
  <p>Available: No</p>

  {% if can_cancel %}
  <a class="btn btn-info left" href="{% url 'cal:cancelsuccess' event_id %}"> Cancel Appointment </a>
  {% endif %}

  {% endif %}
</div>



{% endblock %}