{% extends 'cal/base.html' %}

{% block title %}
Event
{% endblock %}

{% block content %}

<div align="center">
  <div class="card mt-4 w-50 text-center" style="width: 18rem;">
    <div class="card-body">
      <p class="card-title title">Host name: {{host}}</p>
      <p class="card-text text-muted">Start time: {{start_time}}</p>
      <p class="card-text text-muted">End time: {{end_time}}</p>
      {% if is_available %}
      <p class="card-text text-muted">Available: Yes</p>
      <form method="post">
        <a class="btn btn-info" href="{% url 'cal:booksuccess' event_id %}"> BOOK ME! </a>
      </form>
      {% else %}
      <p class="card-text text-muted">Available: No</p>

      {% if can_cancel %}
      <a class="btn btn-info" href="{% url 'cal:cancelsuccess' event_id %}"> Cancel Appointment </a>
      {% endif %}

      {% endif %}
    </div>
  </div>
</div>



{% endblock %}