{% extends 'cal/base.html' %}

{% block content %}
<p class='ml-3'>
    Welcome back, {{user}}!
</p>

{% if user_event_expired %}
<p class='ml-3'>Past interview appointments:</p>
<ul>
    {% for query in user_event_expired %}
    <li>
        <p class='ml-3'>Mentor name: {{query.mentor}}</p>
        <p class='ml-3'>Start time: {{query.start_time}}</p>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if user_event_upcoming %}
<p class='ml-3'>Upcoming interview appointments:</p>
<ul>
    {% for query in user_event_upcoming %}
    <li>
        <p class='ml-3'>Mentor name: {{query.mentor}}</p>
        <p class='ml-3'>Start time: {{query.start_time}}</p>
        <a class="btn btn-info left" href="{% url 'cal:cancelsuccess' query.pk %}"> Cancel Appointment </a>
    </li>
    {% endfor %}
</ul>

{% else %}
<p class='ml-3'>No interview appointment history. Go <a href="{% url 'cal:catalogue' %}">book an appointment</a> or <a
        href="{% url 'cal:event_new' %}">host as a mentor</a> now!</p>

{% endif %}

{% endblock %}