{% extends 'cal/base.html' %}

{% block content %}
<p class='col ml-5'>
    Welcome back, {{user}}!
</p>

<div class="row ml-5 mt-3">
<div class="col-sm-6">
    {% if host_event_upcoming %}
    <p>Upcoming host appointments:</p>
        {% for query in host_event_upcoming %}
        {% if query.mentee %}
    <div class="card mt-4 w-50 text-center" style="width: 18rem;">
        <div class="card-body">
            <p class="card-title title">Attendee name: {{query.mentee}}</p>
            <p class="card-text text-muted">Start time: {{query.start_time}}</p>
            <p class="card-text text-muted">End time: {{query.end_time}}</p>
            <p class="card-text">Zoom link: {{query.zoom_link}}</p>
            <a class="btn btn-info" href="{% url 'cal:cancelhostsuccess' query.pk %}"> Cancel Appointment </a>
        </div>
    </div>
            {% else %}
    <div class="card mt-4 w-50 text-center" style="width: 18rem;">
        <div class="card-body">
            <p class="card-title title">Appointment not booked yet!</p>
            <p class="card-text text-muted">Start time: {{query.start_time}}</p>
            <p class="card-text text-muted">End time: {{query.end_time}}</p>
            <a class="btn btn-info" href="{% url 'cal:cancelhostsuccess' query.pk %}"> Cancel Appointment </a>
        </div>
    </div>
            {% endif %}
            {% endfor %}


    {% else %}
    <p>No upcoming host appointment. Go <a href="{% url 'cal:event_new' %}">host an appointment</a> now!
    </p>

    {% endif %}

    {% if host_event_expired %}
        <p>Past host appointments:</p>
            {% for query in host_event_expired %}
            {% if query.mentee %}
        <div class="card mt-4 w-50 text-center" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title title">Attendee name: {{query.mentee}}</p>
                <p class="card-text text-muted">Start time: {{query.start_time}}</p>
                <p class="card-text text-muted">End time: {{query.end_time}}</p>
            </div>
        </div>
            {% else %}
        <div class="card mt-4 w-50 text-center" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title title">Appointment was not booked!</p>
                <p class="card-text text-muted">Start time: {{query.start_time}}</p>
                <p cclass="card-text text-muted">End time: {{query.end_time}}</p>
            </div>
        </div>
            {% endif %}
            {% endfor %}
    {% endif %}


<div class="col-sm-6">
    {% if user_event_upcoming %}
    <div class='ml-3'>Upcoming appointments:</div>
    <div>
        <ul>
            {% for query in user_event_upcoming %}
            <li>
                <p class='ml-3'>Host name: {{query.mentor}}</p>
                <p class='ml-3'>Start time: {{query.start_time}}</p>
                <p class='ml-3'>Start time: {{query.end_time}}</p>
                <p class='ml-3'>Zoom link: {{query.zoom_link}}</p>
                <a class="btn btn-info left" href="{% url 'cal:cancelsuccess' query.pk %}"> Cancel Appointment </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% else %}
    <div class='ml-3'>No upcoming appointment. Go <a href="{% url 'cal:catalogue' %}">book an appointment</a> now!
    </div>

    {% endif %}

    {% if user_event_expired %}
    <div class='ml-3'>Past appointments:</div>
    <div>
        <ul>
            {% for query in user_event_expired %}
            <li>
                <p class='ml-3'>Host name: {{query.mentor}}</p>
                <p class='ml-3'>Start time: {{query.start_time}}</p>
                <p class='ml-3'>Start time: {{query.end_time}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
</div>
</div>

{% endblock %}