{% extends 'cal/base.html' %}

{% block content %}

{% if earliest_slots_list %}
<p>Currently available interview appointments:</p>
<ul>
    {% for query in earliest_slots_list %}
    {% if query.mentee != user %}
    <li>
        <p>Mentor name: {{query.mentor}}</p>
        <p>Start time: {{query.start_time}}</p>
        <form method="post">
            <a class="btn btn-info left" href="{% url 'cal:booksuccess' query.pk %}"> BOOK ME NOW! </a>
        </form>

    </li>
    {% endif %}
    {% endfor %}
</ul>


{% else %}
<p>No interview appointment available. Host as a mentor <a href="{% url 'cal:event_new' %}">now!</a></p>

{% endif %}
{% endblock %}