{% extends 'cal/base.html' %}

{% block content %}

{% if earliest_slots_list %}
<div class="row ml-5 mt-3">
    <div class="col-sm-6">
        <p>Currently available appointments:</p>
        {% for query in earliest_slots_list %}
        {% if query.mentee != user %}
        <div class="card mt-4 w-50 text-center" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title title">Host name: {{query.mentor}}</p>
                <p class="card-text text-muted">Start time: {{query.start_time}}</p>
                <form method="post">
                    <a class="btn btn-info" href="{% url 'cal:booksuccess' query.pk %}"> BOOK ME NOW! </a>
                </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% else %}
<div class="ml-3 mt-3">
    <p>No appointment available. <a href="{% url 'cal:event_new' %}">Host an appointment</a> now!</p>
</div>

{% endif %}
{% endblock %}