{% extends 'base.html' %} {% block content %}
<p>Hello, {{ user.username|default:'Guest' }}!</p>
<div>
    {% if user.is_authenticated %}
    <a href="{% url 'users:dashboard'%}"></a>
    <a href="{% url 'users:logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'users:login' %}">Login</a>
    <a href="{% url 'users:register' %}">Register</a>
    {% endif %}
</div>
<p>Mission Statement: MeetCIT is dedicated to streamling and speeding up the process of scheduling mock-up interviews
    among CIT students</p>

<!-- TODO: All available timeslots from mentor -->
{% if earliest_slots_list %}
<ul>
    {% for appointment in earliest_slots_list %}
    <li>
        <p>Mentor name: {{appointment.mentor}}</p>
        <p>Start date: {{appointment.start_date}}</p>
    </li>
</ul>


{% else %}
<p>No interview appointment available. Host as a mentor <a href="">now!</a></p>


{% endblock %}