<style>
/*--- GENERAL STYLES ---*/
body { font-size: 16px; line-height: 1.5em; font-family: 'Quattrocento Sans', sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', serif; font-weight: 700; color: #1a1a1a; }
.content-section { min-height: 100vh; padding-top: 70px; padding-bottom: 20px; }
.content-section h1 { color: #9C9C9C; font-weight: 400; font-size: 30px; display: inline-block; }
.content-section h1:after { content: ''; display: block; border-bottom: 1px solid #DFDFDF; padding-top: 3px; }
.content-section p.lead { font-family: 'Cardo', serif; font-size: 19px; line-height: 1.35em; margin-bottom: 25px; }
.content-section p.lead em { font-size: 14px; }
.content-section p em { font-size: 14px;}
.content-section p mark em { font-size: inherit;}
.content-section img.pull-right { border:1px solid #DFDFDF; margin-top: 140px;  }

@media screen and (min-width: 768px) {
  .content-section { padding-top: 130px; }
  .content-section h1 { font-size: 34px; }
  .content-section p.lead { margin-bottom: 30px; }
}

@media screen and (min-width: 992px) {
  .content-section { padding-top: 160px; }
  .content-section h1 { font-size: 38px; }
  .content-section h1:after { padding-top: 5px; }
  .content-section p.lead { font-size: 21px; margin-bottom: 35px; }
}

@media screen and (min-width: 1200px) {
  .content-section { padding-top: 160px; }
  .content-section h1:after { padding-top: 7px; }
  .content-section p.lead { font-size: 22px; margin-bottom: 35px; }
}


/*--- NAVBAR ---*/
.navbar-default { font-family: 'Montserrat', serif; background: #FFFFFF; border-bottom-color: #DFDFDF; height: 60px; margin-bottom: 0; }
.navbar-header .navbar-toggle { margin-top: 12px; }
.navbar-header .navbar-brand { letter-spacing: -0.03em; height: 60px; padding: 30px 10px 0 10px; font-size: 36px; line-height: 0px; font-weight: 700; color: #111; white-space: nowrap; }
.navbar-default .navbar-brand:focus { color: #111; }
.navbar-default .navbar-nav { background: #FFF; margin-top: 0; }
.navbar-default .navbar-nav>li>a { color: #222; padding: 10px; border-bottom: 1px solid #DFDFDF; }
.navbar-default .navbar-nav>li>a.selected { color: #E64B36; }
.navbar-default a.navbar-brand:hover .navbar-default .navbar-nav>li>a:hover { background-color: #DFDFDF; }
.navbar-default .navbar-brand:hover { color: #E64B36; }

@media screen and (min-width: 768px) {
  .navbar-default { height: 100px; }
  .navbar-header { width: 100%; }
  .navbar-header .navbar-brand { height: 70px; padding: 40px 0 0 15px; font-size: 42px; }
  .navbar-default .navbar-nav>li>a { padding: 0px 20px 9px 0; }
  .navbar-default .navbar-nav>li>a:hover { background-color: transparent; color: #E64B36; }
}

@media screen and (min-width: 992px) {
  .navbar-default { height: 120px; }
  .navbar-header .navbar-brand { height: 80px; padding: 45px 0 0 15px; font-size: 48px; }
  .navbar-default .navbar-nav>li>a { padding: 10px 25px 9px 0; }
}

  
/*--- HOME ---*/
#home {
  background: url('https://s17.postimg.org/m4bfqfgn3/fog_1005445_1920.jpg') no-repeat center center fixed;
  background-size: cover; text-shadow: 1px 1px 0 rgba(255,255,255,0.5); text-align: center;
}
#home h1 { font-family: 'Advent Pro', sans-serif; font-size: 96px; color: #000; display: inline-block; margin: 0; padding: 0; line-height: 90px; margin-top: 60px; }
#home h1:after { border-bottom: 1px solid #AAA;  }
#home h5 { font-size: 16px; color: #555; }

@media screen and (min-width: 768px) {
  #home h1 { font-size: 120px; line-height: 114px; }
  #home h5 { font-size: 19px; }
}

@media screen and (min-width: 992px) {
  #home h1 { font-size: 132px; margin-top: 70px; }
  #home h5 { font-size: 21px; }
}

@media screen and (min-width: 1200px) {
  #home h1 { font-size: 142px; line-height: 124px; }
  #home h5 { font-size: 24px; }
}

</style>

{% extends 'base.html' %} {% block content %}
<link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic|Montserrat:400,700|Cardo:400italic|Advent+Pro:100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- NAVIGATION -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        <a class="navbar-brand scroll" href="#home">MeetCIT</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li><a href="#home" class="scroll">ABOUT</a></li>
        <li><a href="#about" class="scroll">LOGIN</a></li>
        <li><a href="#portfolio" class="scroll">SIGNUP</a></li>
        <li><a href="#contact" class="scroll">CONTACT</a></li>
      </ul>
      </div>
    </div>
  </nav>
  <!-- HOME -->
  <div id="home" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>The Power of CIT Connection</h1>
          <h5>MeetCIT is where you can meet your fellow CIT friends and ask for academic advice, mock interview, or just casual meetup!</h5>
        </div>
      </div>
    </div>
  </div>

  
  <!-- ABOUT -->
  <div id="about" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-lg-7">
          <h1>ABOUT</h1>
          <p class="lead">MeetCIT is dedicated to streamling and speeding up the process of scheduling mock-up interviews among CIT students
        
        </div>
        <div class="col-sm-4 col-lg-5 hidden-xs">
          <img src="https://s4.postimg.org/wzkxhfy59/lego_dimensions_patent.jpg" alt="" class="pull-right img-responsive">
        </div>
      </div>
    </div>    
  </div>

<p style="color: #5e9ca0;">Hello, {{ user.username|default:'Guest' }}!</p>
<div>
    {% if user.is_authenticated %}
    <a href="{% url 'users:logout' %}">Logout</a>
    <a href="{% url 'cal:calendar' %}">View Schedules</a>
    {% else %}
    <a href="{% url 'users:login' %}">Login</a>
    <a href="{% url 'users:register' %}">Register</a>
    {% endif %}
</div>
<p >Mission Statement: MeetCIT is dedicated to streamling and speeding up the process of scheduling mock-up interviews
    among CIT students</p>

<!-- TODO: All available timeslots from mentor -->
{% if earliest_slots_list %}
<ul>
    {% for appointment in earliest_slots_list %}
    <li>
        <p>Mentor name: {{appointment.mentor}}</p>
        <p>Start time: {{appointment.start_time}}</p>
    </li>
    {% endfor %}
</ul>


{% else %}
<p>No interview appointment available. Host as a mentor <a href="">now!</a></p>

{% endif %}
{% endblock %}
