{% block content %}
<p>Hello, {{ user.username|default:'Guest' }}!</p>
<div>
    {% if user.is_authenticated %}
    <a href="{% url 'users:logout' %}">Logout</a>
    <a href="{% url 'cal:calendar' %}">View Schedules</a>
    {% else %}
    <a href="{% url 'users:login' %}">Login</a>
    <a href="{% url 'users:register' %}">Register</a>
    {% endif %}
</div>
<p>Mission Statement: MeetCIT is dedicated to streamling and speeding up the process of scheduling mock-up interviews
    among CIT students</p>

<!-- TODO: All available timeslots from mentor -->
{% if earliest_slots_list %}
<p>Currently available interview appointments:</p>
<ul>
    {% for appointment in earliest_slots_list %}
    <li>
        <p>Mentor name: {{appointment.mentor}}</p>
        <p>Start time: {{appointment.start_time}}</p>
    </li>
    {% endfor %}
</ul>


{% else %}
<p>No interview appointment available. Host as a mentor <a href="">now!</a></p>

{% endif %}
{% endblock %}